@charset "utf-8";
*{	
	font-family: arial, helvetica, sans-serif;


}

body{
	background-image: linear-gradient(to right, red, blue) 

}	

main{
	background-color: white;
	border-radius: 10px;
	box-shadow: 3px 4px 5px gray;
	width: 500px;
	padding: 5px;
	margin: auto;
	margin-top: 50px;

}
div{
	margin-left: 5px;
	
	
}
h1{
	color: blue;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

h2{
	color: lightgreen;

}
p{
	text-align: justify;
	text-indent: 20px;

}