@charset "UTF-8";

/* Typical Device Breakponits */

@media screen and (min-width: 768px) {
    #burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
    }
    


}

@media print {

    *{
        font-family: 'Courier New', Courier, monospace;
    }
    header{
        display: none;
    }
    
    article::after{
        content: 'Impresso no site teste beto frança';
        
    }


}